body {
    background-color: #DEFCF9;
}
h1 {
    color: #98b1f9;
    font-family: Comic Sans MS;
    font-size: 50px;
}
a{
    background: #CADEFC;
    width: 250px;
    height: 40px;
    border-radius:10px;
    color: black;
    font-size: 20px;
    font-family: Comic Sans MS;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 10px;




}
a:hover{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #d3e3fd;
}
a:active{
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #c4ddff;
}
.map-size{
    margin-top: 10%;
    margin-left: 20%;
   margin-bottom: 1rem;
   width: 200px;
   text-align: center;
   vertical-align: middle;
}
.map-size_label{
    display: block;
    margin-bottom: 0.25rem;
    font-family: Comic Sans MS;
    text-align: center;
}
.map-size_input{
    display: block;
    width: 97%;
    height: calc(2.25rem + 2px);
    padding: 0.1rem;
    border-radius: 20px;
    border: 1px solid skyblue;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
}
.map-size_input:focus{
    border: 1px solid cadetblue;
    outline: 0;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);

}
.create-map{
    font-family: Comic Sans MS;
    background: #CADEFC;
    border-radius:10px;
    color: black;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  
}
.create-map:hover{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #d3e3fd;
}
.create-map:active{
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #c4ddff;
}
