body {
    background-color: #DEFCF9;
}

h1 {
    color: #98b1f9;
    font-family: Comic Sans MS, serif;
    font-size: 50px;
    text-align: center;
}

.first_alg {
    display: flex;
}

a {
    background: #CADEFC;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-family: Comic Sans MS, serif;
    margin: 0 auto 30px;
    display: block;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 10px;

}

a:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #d3e3fd;
}

a:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #c4ddff;
}

.map-size {
    margin-bottom: 1rem;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 20%;
}

.map-size_label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: Comic Sans MS, serif;
    text-align: center;
}

.map-size_input {
    display: block;
    width: 97%;
    height: calc(2.25rem + 2px);
    padding: 0.1rem;
    border-radius: 20px;
    border: 1px solid skyblue;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.25rem;
}

.map-size_input:focus {
    border: 1px solid cadetblue;
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

}

.create-map {
    font-family: Comic Sans MS, serif;
    background: #CADEFC;
    border-radius: 10px;
    color: black;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 auto;
    display: block;

}

.create-map:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #d3e3fd;
}

.create-map:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #c4ddff;
}

#container {
    text-align: center;
    width: 500px;
    height: 500px;
    min-width: 500px;
}

#container > .gridCell {
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 1px solid skyblue;
    border-radius: 20%;
}

#container > .gridCell {
    background: white;
    cursor: pointer;
}

.start-finish {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}

.map {
    margin-left: 20%;
}

.ez {
    max-height: 75px;
    max-width: 100px;
    visibility: hidden;
}

.ez_div {
    display: flex;
}

.text {
    margin: 20px auto 0;
    vertical-align: middle;
    font-size: 35px;
    font-family: Comic Sans MS, serif;
}

#ez_gif {
    margin-top: 100px;
    max-width: 200px;
    max-height: 200px;
}

.grass {
    width: 600px;
    height: 600px;
    margin-top: 10px;
    background: darkseagreen;
    border-radius: 20px;
    position: relative;
}

.grass_div {
    margin: 0 auto;
    width: 600px;


}

.grass_buttons {
    margin-top: 10px;
    display: flex;
}

.canvas {
    position: absolute;
}

.bee_div {
    display: flex;
}

#spring_bee {
    max-height: 300px;
    margin-top: 350px;
    transform: scale(-1, 1);
}

#minecraft_bee {
    max-width: 204px;
    max-height: 204px;
    margin-top: 50px;
}

#clear {
    width: 70px;
    background: lightcoral;
    color: white;
    margin-left: 140px;
    margin-top: 10px;


}

#clear2 {
    width: 70px;
    background: lightcoral;
    color: white;
    margin-left: 520px;
    margin-top: 5px;


}

.path_found {
    color: lightgreen;
    font-family: Comic Sans MS, serif;
    margin-left: 150px;
    visibility: hidden;
    margin-top: -5px;
}

.top_panel {
    max-height: 50px;
    font-size: 30px;
    display: flex;
}

.ants {
    display: flex;
}

#ant {
    height: 20%;
    width: 20%;
    margin-top: 400px;
    transform: scale(-1, 1);
}

#ant2 {
    max-width: 300px;
    max-height: 230px;
    margin-top: 250px;
}

#line {
    width: 150%;
    height: 50%;
    transform: scale(-1, 1);
    margin-right: -200px;
    margin-top: -220px;
}
